
<section class="landing-section bg-black w-screen h-screen text-center relative overflow-hidden"
         data-header-color="black">    

    <div class="z-30 relative h-full flex flex-col">
        <header class="">
            <h2 class="text-gray-900 pt-40  text-[40px] font-medium">Accesories</h2>
            
        </header>

        <footer class="flex flex-col flex-grow justify-end pb-20">

            <div class="gap-x-12 flex mx-auto">
                <a class="text-white text-sm font-medium rounded  bg-zinc-900 px-[90px] py-2 inline-flex justify-center" 
                    href="#">Shop Now</a>
                
            </div>
            
        </footer>

    </div>
    

    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        
       <img  class="h-full w-full object-cover object-center" src="./accesories.avif" alt="Accesories"/>
    </div>
    
</section>